body {
  background-color: rgb(8, 8, 16);
}

.container {
  margin-top: 2em;
}

#calculated-ages {
  display: none;
}

.orbit-container {

}

.orbit {
  animation: orbit linear infinite paused;
  border: 3px dotted whitesmoke;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 45%;
  height: var(--orbit-size);
  width: var(--orbit-size);
  --margin-correction: calc(-1 * var(--orbit-size)/2);
  margin-top: var(--margin-correction);
  margin-left: var(--margin-correction);
}

.planet {
  position: absolute;
  border: .1px solid whitesmoke;
  border-radius: 100%;
  height: var(--planet-size);
  width: var(--planet-size);
  --margin-correction: calc(-1 * var(--planet-size)/2);
  margin-top: calc(var(--margin-correction) + var(--orbit-size)/2);
  margin-left: var(--margin-correction);
}

#sun {
  position: absolute;
  border: 3px solid whitesmoke;
  border-radius: 100%;
  background-color: yellow;
  height: 10vh;
  width: 10vh;
  top: 50%;
  left: 45%;
  margin-top: -5vh;
  margin-left: -5vh;
}
#orbit-mercury {
  --orbit-size: 15vh;
}

#planet-mercury {
  --planet-size: calc(1vh + 4px);
  background-color: rgb(77, 43, 43);
}

#orbit-venus {
  --orbit-size: 20vh;
}

#planet-venus {
  --planet-size: calc(2.4vh + 4px);
  background-color:rgb(46, 107, 46);
}

#orbit-earth {
  --orbit-size: 30vh;
}

#planet-earth {
  --planet-size: calc(2.6vh + 4px);
  background-color: rgb(82, 92, 209);
}

#orbit-mars {
  --orbit-size: 40vh;
}

#planet-mars {
  --planet-size: calc(1.4vh + 4px);
  background-color: red;
}

#orbit-jupiter {
  --orbit-size: 75vh;
}

#planet-jupiter {
  --planet-size: calc(28.4vh + 4px);
  background-color: rgb(136, 82, 37);
}

@keyframes orbit {

}