body {
  --color-mercury: rgb(85, 60, 60);
  --color-venus: rgb(46, 107, 46);
  --color-earth: rgb(40, 60, 180);
  --color-mars: rgb(200, 30, 30);
  --color-jupiter: rgb(160, 91, 34);
  --color-space: rgb(8, 8, 16);
  background-color: var(--color-space);
  overflow: hidden;
}

#entry-circle{
  animation: circle-to-earth 2s ease-in-out .55s paused;
  position: absolute;
  top: 25vh;
  left: calc(50% - 25vh);
  padding: 12vh;
  z-index: 1;
  background-color: var(--color-earth);
  color: whitesmoke;
  border: 2px solid darkslategray;
  border-radius: 100%;
  height: 50vh;
  width: 50vh;
}

#entry-contents {
  text-align: center;
}

#entry-contents h2 {
  font-size: 2.5vh;
}

#calculated-ages {
  display: none;
  position: absolute;
  top: 25vh;
  left: 66%;
  color: whitesmoke;
}

#age-mercury, #life-ex-dif-mercury {
  font-weight: bold;
  color: var(--color-mercury);
}

#age-venus, #life-ex-dif-venus {
  font-weight: bold;
  color: var(--color-venus);
}

#age-earth, #life-ex-dif-earth {
  font-weight: bold;
  color: var(--color-earth);
}

#age-mars, #life-ex-dif-mars {
  font-weight: bold;
  color: var(--color-mars);
}

#age-jupiter, #life-ex-dif-jupiter {
  font-weight: bold;
  color: var(--color-jupiter);
}

#orbit-container {
  z-index: -1;
  display: none;
}

.orbit {
  --orbit-speed-multiplier: 8;
  animation: orbit linear infinite paused;
  animation-delay: .5s;
  border: 4px double darkslategray;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 33%;
  height: var(--orbit-size);
  width: var(--orbit-size);
  --margin-correction: calc(-1 * var(--orbit-size)/2);
  margin-top: var(--margin-correction);
  margin-left: var(--margin-correction);
}

.planet {
  position: absolute;
  border: 2px solid darkslategray;
  border-radius: 100%;
  height: var(--planet-size);
  width: var(--planet-size);
  --margin-correction: calc(-1 * var(--planet-size)/2);
  margin-top: calc(var(--margin-correction) + var(--orbit-size)/2);
  margin-left: var(--margin-correction);
}

#sun {
  position: absolute;
  border: 5px dashed whitesmoke;
  border-radius: 100%;
  background-color: rgb(224, 224, 94);
  height: 10vh;
  width: 10vh;
  top: 50%;
  left: 33%;
  margin-top: -5vh;
  margin-left: -5vh;
  filter: blur(7px);
}
#orbit-mercury {
  --orbit-size: 15vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * .24s); 
}

#planet-mercury {
  --planet-size: calc(1.4vh + 4px);
  background-color: var(--color-mercury);
}

#orbit-venus {
  --orbit-size: 22vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * .62s); 
}

#planet-venus {
  --planet-size: calc(2.8vh + 4px);
  background-color: var(--color-venus);
}

#orbit-earth {
  --orbit-size: 31vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 1s); 
}

#planet-earth {
  --planet-size: calc(3vh + 4px);
  background-color: var(--color-earth);
}

#orbit-mars {
  --orbit-size: 40vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 1.88s);
}

#planet-mars {
  --planet-size: calc(2vh + 4px);
  background-color: var(--color-mars);
}

#orbit-jupiter {
  --orbit-size: 68vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 11.88s);
}

#planet-jupiter {
  --planet-size: calc(22vh + 4px);
  background-color: var(--color-jupiter);
}

@keyframes orbit {
  100% {
    -webkit-transform: rotate(360%);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-to-earth {
  95% {
    height: calc(3vh + 4px);
    width: calc(3vh + 4px);
    opacity: .8;
    top: 48.5vh;
    left: calc(33% - 16.5vh);
    padding: 0vh;
  }

  100% {
    opacity: 0;
  }
}