body {
  background-color: rgb(8, 8, 16);
  overflow: none;
}

#entry-circle{
  position: absolute;
  top: 25vh;
  left: calc(50% - 25vh);
  padding: 12vh;
  z-index: 1;
  background-color: rgb(40, 60, 180);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 100%;
  height: 50vh;
  width: 50vh;
}

.entry-circle h2 {
  text-align: center;
  font-size: 3vh;
}

#calculated-ages {
  display: none;
}

.orbit-container {
  z-index: -1;
}

.orbit {
  --orbit-speed-multiplier: 7;
  animation: orbit linear infinite paused;
  border: 2px dotted darkslategray;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 33%;
  height: var(--orbit-size);
  width: var(--orbit-size);
  --margin-correction: calc(-1 * var(--orbit-size)/2);
  margin-top: var(--margin-correction);
  margin-left: var(--margin-correction);
}

.planet {
  position: absolute;
  border: 2px solid whitesmoke;
  border-radius: 100%;
  height: var(--planet-size);
  width: var(--planet-size);
  --margin-correction: calc(-1 * var(--planet-size)/2);
  margin-top: calc(var(--margin-correction) + var(--orbit-size)/2);
  margin-left: var(--margin-correction);
}

#sun {
  position: absolute;
  border: 3px solid whitesmoke;
  border-radius: 100%;
  background-color: rgb(224, 224, 94);
  height: 10vh;
  width: 10vh;
  top: 50%;
  left: 33%;
  margin-top: -5vh;
  margin-left: -5vh;
}
#orbit-mercury {
  --orbit-size: 14vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * .24s); 
}

#planet-mercury {
  --planet-size: calc(1vh + 4px);
  background-color: rgb(77, 43, 43);
}

#orbit-venus {
  --orbit-size: 21vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * .62s); 
}

#planet-venus {
  --planet-size: calc(2.8vh + 4px);
  background-color:rgb(46, 107, 46);
}

#orbit-earth {
  --orbit-size: 30vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 1s); 
}

#planet-earth {
  --planet-size: calc(3vh + 4px);
  background-color: rgb(40, 60, 180);
}

#orbit-mars {
  --orbit-size: 40vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 1.88s);
}

#planet-mars {
  --planet-size: calc(2vh + 4px);
  background-color: red;
}

#orbit-jupiter {
  --orbit-size: 68vh;
  animation-duration: calc(var(--orbit-speed-multiplier) * 11.88s);
}

#planet-jupiter {
  --planet-size: calc(22vh + 4px);
  background-color: rgb(136, 82, 37);
}

@keyframes orbit {
  100% {
    -webkit-transform: rotate(360%);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}